@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>
                <form asp-action="Register" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="FirstName" class="form-control" placeholder="Adam" />
                        <label asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="LastName" class="form-control" placeholder="Stone" />
                        <label asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control
                               @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "" )"
                                placeholder="Password" />
                        <label asp-for="Password"></label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control
                              @(ViewData.ModelState["ConfirmPassword"]?.Errors.Count > 0 ? "is-invalid" : "" )" 
                              placeholder="Confirm Password" />
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}